body {
    margin: 0 auto;
}

body > * {
    width: 90%;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}

.card {
    border: solid 2px black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 310px;
}

.avatar {
    border-radius: 50%;
    height: 90px;
    margin: 0 15px;
    padding: 20px 0;
}

.name {
    font-size: 18px;
}

.text-container:nth-child(1),
.text-container:nth-child(2),
.text-container:nth-child(3) {
    margin: 5px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (min-width: 720px) {

    .grid-container {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (min-width: 1028px) {
    
    .grid-container {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}