body {
    margin: 0 auto;
}

body > * {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font: 700 16px 'Poppins', sans-serif;
}

h2 {
    font: 500 16px 'Poppins', sans-serif;
}

p {
    font: 400 16px 'Barlow Semi Condensed', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}

.card {
    border: solid 2px #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    min-width: 320px;
    transition-duration: .2s;
}

.card:hover {
    border: none;
    box-shadow: 0 0 15px #d1d1e0;
}

.avatar {
    border-radius: 50%;
    height: 80px;
    padding: 20px 15px;
}

.name {
    font-size: 18px;
}

.text-container {
    margin: 0 auto;
}

.text-container :nth-child(-n+3) {
    margin: 5px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (min-width: 720px) {

    h1 {
        font: 700 30px 'Poppins', sans-serif;
    }

    .grid-container {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (min-width: 1028px) {
    
    h1 {
        font: 700 40px 'Poppins', sans-serif;
    }

    .grid-container {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}